@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Skype:</strong> <a href="behrooz0372@gmail.com">behrooz0372@gmail.com</a><br />
    <strong>Email:</strong> <a href="Behrooz0372@gmail.com">Behrooz0372@gmail.com</a>
</address>
