@model Brands.Core.DTOs.LoginViewModel

@{
    ViewData["Title"] = "Login";
    string returnUrl = "/";
    if (ViewData["ReturnURL"] != null)
    {
        returnUrl = ViewData["ReturnURL"].ToString();
    }
}
<h1>Hi @User.Identity.Name</h1>
<body>
    <header>
        <link href="/css/StyleSheet.css" rel="stylesheet" />
        <h1>Portal de Login</h1>
    </header>
    <main>    
        @if (!User.Identity.IsAuthenticated)
        {
        <form asp-action="Login" id="login_form" class="form_class" method="post">
            <div class="form_div">
                <label>Login:</label><br />
                <input type="hidden" asp-for="ReturnUrl" value="@returnUrl">
                <span asp-validation-for="UserName" class="Validators"></span>
                <input asp-for="UserName" class="field_class" placeholder="Insert User Name">
                <span asp-validation-for="Password" class="Validators"></span>
                <input asp-for="Password" class="field_class" type="password" ype="password" placeholder="Insert Password">
                <button class="submit_class" type="submit" form="login_form">Enter</button>
            </div>
            <div class="info_div">
               Remember Me! <input type="checkbox"  checked asp-for="RememberMe"/>
            </div>
        </form>
        }
        else
        {
            <a href="Logout" >Log Out @User.Identity.Name.ToString() !</a>
        }
    </main>
    <footer>
        <p></p>
    </footer>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="/js/JavaScript.js"></script>
}
